html {
	box-sizing: border-box;
	font-family: Verdana, Arial; 
	}
	
body {
	background-color: #7F7F7F;
	box-sizing: border-box;
	margin: 20px;
	padding: 5px;
	}
	
header {
	justify-content: center;
	color: #F2B139;
	width: 100%;
	height: 75px;
}

h1 {
	font-size: 20px;
	font-weight: 500;
}

.navarea .img {
	width: 3%;
	height: auto;
}	
	
.navarea {
	display: flex;
	justify-content: space-between;
	align-items: center;
}	

.navbar {
	list-style: none;
}

.navbar li {
	display: inline-block;
	padding: 10px 5px;
	text-decoration: none;
}

a {
	text-decoration: none;
}
a:link {
	color: #F2B139;
}

a:visited {
	color: #F2B139;
}

a:hover {
	color: #FFFFFF;
}

a:active {

}

hr {
	border: 1px solid #F2B139;
	border-radius: 5px;
}

.main-section {
	color: white;
}

.side-nav {
	grid-area: side;
	position: fixed;
}

.side-nav a {
	display: block;
	padding: 20px 0px;
}

.main-doc {
	grid-area: main;
	border-left: 1px solid #F2B139;
	padding: 0px 10px;
	justify-self: start;
}

.main-pics {
	grid-area: pics;
	justify-self: center;
}

.main-pics .img {
	width: 100%;
	height: auto;
}

.container {
	display: grid;
	grid-template-columns: .5fr 2fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: "side main pics";
	grid-gap: 50px;
}
